@import "tailwindcss";

@theme {
  --color-foreground: oklch(1 0 0);
  --color-background: oklch(21% 0.006 285.885);
  --color-primary: oklch(79.2% 0.209 151.711);
  --color-secondary: oklch(0.35 0.098 149.81);
  --color-working-primary: oklch(90.5% 0.182 98.111);
  --color-working-secondary: oklch(55.3% 0.195 38.402);
  --color-border: oklch(70.5% 0.015 286.067);
  --color-bg-muted: oklch(44.2% 0.017 285.786);
  --color-accent: oklch(0.5 0.187 355.7);
}

@layer base {
  * {
    @apply border-border box-border;
  }
  body {
    @apply bg-background text-foreground;
    }
}
